Repository kobotoolbox/kpi, changes with the owners that .github/CODEOWNERS names for each.
All owners: @magicznyleszek, @noliveleger, @p2edwards, @jnm, @tinok, @JacquelineMorrissette, @jamesrkiger, @rgraber, @Guitlle, @bufke, @Akuukis

Use inf value to represent unlimited usage
  kobo/apps/organizations/types.py
  kobo/apps/stripe/tests/test_organization_usage.py
  kobo/apps/stripe/utils.py
  kobo/apps/trackers/utils.py
Owners: @jnm, @noliveleger

Update tests to use deployment xform
  kobo/apps/project_ownership/tests/api/v2/test_api.py
  kpi/deployment_backends/openrosa_backend.py
Owners: @jnm, @noliveleger

Remove unused import
  kobo/apps/organizations/types.py
Owners: @jnm, @noliveleger

add AccessLogExportTask class, refactored Project View exports to create csv files for access logs, and added tests
  kpi/migrations/0060_commonexporttask_remove_projectviewexporttask_data_and_more.py
  kpi/models/import_export_task.py
  kpi/tasks.py
  kpi/tests/test_access_logs_export_task.py
  kpi/utils/data_exports.py
  kpi/utils/project_view_exports.py
Owners: @jnm, @noliveleger

Disable email changing if user is regular member
  jsapp/js/account/security/email/emailSection.component.tsx
  jsapp/js/account/security/email/emailSection.module.scss
Owners: @jamesrkiger

Moved some elements and CSS around to fit logic
  jsapp/js/account/security/email/emailSection.component.tsx
Owners: @jamesrkiger

create MyOrgProjectsRoute and update ViewSwitcher to make it accessible
  jsapp/js/api.endpoints.ts
  jsapp/js/projects/myOrgProjectsRoute.tsx
  jsapp/js/projects/projectViews/constants.ts
  jsapp/js/projects/projectViews/viewSwitcher.tsx
  jsapp/js/projects/routes.tsx
  jsapp/js/router/routerConstants.ts
Owners: @magicznyleszek

Remove unnecessary useEffect checks/deps for orgQuery status
  jsapp/js/account/organizations/validateOrgPermissions.component.tsx
Owners: @jamesrkiger

cleanup js/projects files
  jsapp/js/dataInterface.ts
  jsapp/js/projects/customViewRoute.tsx
  jsapp/js/projects/customViewStore.ts
  jsapp/js/projects/myProjectsRoute.tsx
  jsapp/js/projects/projectViews.module.scss
  jsapp/js/projects/projectViews/projectsFieldsSelector.tsx
  jsapp/js/projects/projectViews/projectsFilter.tsx
  jsapp/js/projects/projectViews/projectsFilterEditor.tsx
  jsapp/js/projects/projectViews/viewSwitcher.tsx
  jsapp/js/projects/projectsTable/bulkActions/bulkDeletePrompt.tsx
  jsapp/js/projects/projectsTable/projectBulkActions.tsx
  jsapp/js/projects/projectsTable/projectQuickActions.tsx
  jsapp/js/projects/projectsTable/projectsTable.tsx
  jsapp/js/projects/projectsTable/projectsTableHeader.tsx
  jsapp/js/projects/projectsTable/projectsTableRow.module.scss
  jsapp/js/projects/projectsTable/projectsTableRow.tsx
  jsapp/js/projects/projectsTable/sortableProjectColumnHeader.tsx
Owners: @magicznyleszek

.github/CODEOWNERS:

## This is a comment.
## Each line is a file pattern followed by one or more owners.
## Last matching line wins.




## Default owner for all missed files by more specific matches below.
*                                   @magicznyleszek @noliveleger



################
#### Global section.
/.editorconfig                      @magicznyleszek
/.git-blame-ignore-revs             @magicznyleszek
/.gitattributes                     @magicznyleszek @noliveleger
/.gitignore                         @magicznyleszek @noliveleger
/dependabot.yml                     @magicznyleszek
/kpi.code-workspace                 @p2edwards
/LICENSE                            @jnm @tinok

## Translations
/.gitmodules                        @JacquelineMorrissette @jnm
/.tx/                               @JacquelineMorrissette @jnm




################
#### Frontend section.

# Default owner
/.storybook/                        @magicznyleszek
/cypress/                           @magicznyleszek
/jsapp/                             @magicznyleszek
/patches/                           @p2edwards
/static/                            @magicznyleszek
/static/js/                         @magicznyleszek @p2edwards
/test/                              @magicznyleszek @p2edwards
/webpack/                           @magicznyleszek @p2edwards
/.babelrc.json                      @magicznyleszek @p2edwards
/.browserslistrc                    @magicznyleszek @p2edwards
/.eslintignore                      @magicznyleszek @p2edwards
/.eslintrc.js                       @magicznyleszek @p2edwards
/.node-version                      @magicznyleszek @p2edwards
/.nvmrc                             @magicznyleszek @p2edwards
/.prettierrc.js                     @magicznyleszek @p2edwards
/.stylelintrc.js                    @magicznyleszek @p2edwards
/.swcrc                             @magicznyleszek @p2edwards
/.coffeelint.json                   @magicznyleszek @p2edwards
/package-lock.json                  @magicznyleszek @p2edwards
/package.json                       @magicznyleszek @p2edwards
/tsconfig.json                      @magicznyleszek @p2edwards

# Billing
/jsapp/js/account/                  @jamesrkiger
/jsapp/js/components/usageLimits    @jamesrkiger




################
#### Backend section

# Default owner
/dependencies/                      @jnm @noliveleger
/hub/                               @jnm @noliveleger
/hub/tests/                         @jnm @noliveleger
/kobo/                              @jnm @noliveleger
/kobo/apps/audit_log/               @rgraber
/kobo/apps/subsequences/            @Guitlle
/kpi/                               @jnm @noliveleger
/kpi/tests/                         @jnm @noliveleger
/.coveragerc                        @jnm
/.dockerignore                      @jnm @noliveleger
/format-python.sh                   @noliveleger
/manage.py                          @jnm @noliveleger
/pip-compile.sh                     @jnm @noliveleger
/pyproject.toml                     @jnm @noliveleger

# Django Static Templates, HTML, JS, CSS
/kobo/apps/accounts/templates/      @magicznyleszek @p2edwards @jnm @noliveleger
/kpi/templates/                     @magicznyleszek @p2edwards @jnm @noliveleger
/kpi/static/css/                    @magicznyleszek @p2edwards
_registration.scss                  @magicznyleszek @p2edwards




################
#### Infrastructure section

/docker/                            @bufke @jnm @noliveleger
/scripts/                           @bufke @jnm @noliveleger
/scripts/*.js                       @magicznyleszek @p2edwards
/.github/                           @bufke @jnm @noliveleger @magicznyleszek
/.github/workflows/npm-test.yml     @bufke @jnm @noliveleger @magicznyleszek @p2edwards
/.gitlab-ci.yml                     @bufke
/Dockerfile                         @bufke @jnm @noliveleger




################
#### Documentation section
/CONTRIBUTING.md                    @Akuukis @magicznyleszek @noliveleger
/README.md                          @Akuukis @jnm @magicznyleszek @noliveleger
/.github/CODEOWNERS                 @Akuukis @jnm @noliveleger @magicznyleszek
/.github/FUNDING.yml                @Akuukis @jnm @noliveleger @magicznyleszek
/.github/ISSUE_TEMPLATE.md          @Akuukis @jnm @noliveleger @magicznyleszek
/.github/PULL_REQUEST_TEMPLATE.md   @Akuukis @jnm @noliveleger @magicznyleszek
