Repository kobotoolbox/kpi, pull requests merged in 2021-11, with the labels that each got.

#3405 Refactoring: Use more accurate method names for row level permissions related classes
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
Labels: blocked, backend

#3404 Users with partial permissions cannot see attachments fix
  jsapp/js/components/formViewTabs.es6
  jsapp/js/mixins.es6
  kobo/settings/base.py
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/views/v2/data.py
Labels: blocked, bug-fix, backend

#3558 Upgrade pyxform to `v1.7.0`
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  kpi/tests/api/v2/test_api_imports.py
Labels: dependencies

#3573 Site message edit fix
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.txt
  kobo/urls.py
Labels: bug-fix, backend
