Repository kobotoolbox/kpi, pull requests merged in 2021-06, with the labels that each got.

#3126 [ Form Media ] - Add tests to asset deployments
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mixin.py
  kpi/deployment_backends/mock_backend.py
  kpi/management/commands/sync_kobocat_xforms.py
  kpi/tests/api/v1/test_api_assets.py
  kpi/tests/api/v2/test_api_assets.py
  kpi/tests/base_test_case.py
  kpi/tests/test_deployment_backends.py
  kpi/tests/test_utils.py
Labels: backend

#3130 [ Form Media ] - Alphabetization refactoring
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mixin.py
  kpi/deployment_backends/mock_backend.py
  kpi/exceptions.py
  kpi/permissions.py
Labels: backend

#3259 Make the admin user report pull data from KoBoCAT tables instead of KPI
  kobo/apps/superuser_stats/tasks.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/management/commands/sync_kobocat_xforms.py
Labels: backend, bug-fix

#3226 Add `sync_kobocat_form_media` management command
  kpi/management/commands/sync_kobocat_form_media.py
  kpi/management/commands/sync_kobocat_xforms.py
  kpi/tasks.py
  kpi/views/v2/user.py
Labels: backend, enhancement, high priority

#3284 MongoDB query timeout calculation fix
  kobo/settings/base.py
Labels: bug-fix

#3281 Fix skip logic
  jsapp/xlform/src/view.rowDetail.SkipLogic.coffee
Labels: high priority

#3301 Update formpack hash
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  dependencies/pip/travis_ci.txt
Labels: backend, dependencies

#3306 Fix broken partial permissions exports
  kpi/permissions.py
  kpi/tests/api/v2/test_api_exports.py
Labels: API, backend, bug-fix, high priority

#3311 Update supported form media types
  kpi/models/asset_file.py
Labels: API, backend, enhancement

#3316 Synchronize media files when redeploying a project with no changes
  jsapp/js/components/modalForms/formMedia.es6
  jsapp/scss/components/_kobo.form-media.scss
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mixin.py
  kpi/migrations/0037_add_sync_flag_to_asset_files.py
  kpi/models/asset_file.py
  kpi/serializers/v1/deployment.py
  kpi/tests/api/v2/test_api_assets.py
Labels: enhancement
