Repository kobotoolbox/kpi, pull requests merged in 2021-09, with the labels that each got.

#3457 Fix Enketo edit url pattern
  kpi/tests/api/v2/test_api_submissions.py
  kpi/views/v2/data.py
Labels: bug-fix

#3431 Rename `ENKETO_SERVER` and make it consistent with other app urls
  kobo/settings/base.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/models/import_export_task.py
  kpi/views/v2/asset_snapshot.py
Labels: enhancement, backend

#3297 Optimize `sync_kobocat_form_media`
  kpi/management/commands/sync_kobocat_form_media.py
Labels: backend

#3368 Do not return MongoDB documents count when validating partial permissions
  kpi/deployment_backends/base_backend.py
  kpi/utils/mongo_helper.py
Labels: enhancement, backend
