Repository kobotoolbox/kpi, pull requests merged in 2021-03, with the labels that each got.

#2968 OSM geoJSON export feature and export field filtering
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  dependencies/pip/travis_ci.txt
  kpi/constants.py
  kpi/models/import_export_task.py
  kpi/renderers.py
  kpi/tests/api/v1/test_api_assets.py
  kpi/tests/api/v2/test_api_submissions.py
  kpi/tests/test_mock_data_exports.py
  kpi/views/v1/export_task.py
Labels: API, backend, enhancement

#3009 Added a V2 Reports Endpoint
  kobo/apps/reports/serializers.py
  kobo/apps/reports/views.py
  kpi/permissions.py
  kpi/serializers/v2/reports.py
  kpi/tests/api/v2/test_api_assets.py
  kpi/urls/router_api_v2.py
  kpi/views/v2/asset.py
Labels: API, backend

#3016 Created Imports V2 Endpoint
  dependencies/pip/dev_requirements.in
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  dependencies/pip/travis_ci.txt
  jsapp/js/components/modalForms/projectSettings.es6
  jsapp/js/dataInterface.es6
  kpi/models/asset.py
  kpi/models/import_export_task.py
  kpi/serializers/v2/import_task.py
  kpi/tests/api/v2/test_api_imports.py
  kpi/urls/router_api_v2.py
  kpi/views/v2/import_task.py
Labels: API, backend, bug-fix

#3047 Updated the SSRF split() to include `\r`
  kobo/apps/hook/models/service_definition_interface.py
Labels: backend, bug-fix

#3011 Migrate `/exports` to nested assets endpoint
  kpi/exceptions.py
  kpi/filters.py
  kpi/migrations/0033_add_meta_ordering_exort_task.py
  kpi/models/import_export_task.py
  kpi/permissions.py
  kpi/serializers/v2/asset_export_settings.py
  kpi/serializers/v2/export_task.py
  kpi/tests/api/v2/test_api_exports.py
  kpi/tests/test_utils.py
  kpi/urls/router_api_v2.py
  kpi/utils/export_task.py
  kpi/views/v1/export_task.py
  kpi/views/v2/asset.py
  kpi/views/v2/export_task.py
Labels: API, backend, enhancement

#3051 Include export url in asset detail
  kpi/migrations/0033_add_meta_ordering_export_task.py
  kpi/serializers/v2/asset.py
Labels: API, backend, enhancement

#3054 Fix submission duplication error
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/tests/api/v2/test_api_submissions.py
Labels: backend, bug-fix

#2975 Custom data exports feature
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  dependencies/pip/travis_ci.txt
  kpi/exceptions.py
  kpi/filters.py
  kpi/migrations/0032_asset_export_settings_model.py
  kpi/migrations/0033_add_meta_ordering_export_task.py
  kpi/models/__init__.py
  kpi/models/asset_export_settings.py
  kpi/models/import_export_task.py
  kpi/permissions.py
  kpi/renderers.py
  kpi/serializers/v2/asset.py
  kpi/serializers/v2/asset_export_settings.py
  kpi/serializers/v2/export_task.py
  kpi/tests/api/v1/test_api_assets.py
  kpi/tests/api/v2/test_api_asset_export_settings.py
  kpi/tests/api/v2/test_api_exports.py
  kpi/tests/api/v2/test_api_submissions.py
  kpi/tests/test_mock_data_exports.py
  kpi/tests/test_utils.py
  kpi/urls/router_api_v2.py
  kpi/utils/export_task.py
  kpi/views/v1/export_task.py
  kpi/views/v2/asset.py
  kpi/views/v2/asset_export_settings.py
  kpi/views/v2/export_task.py
Labels: API, backend, enhancement

#3002 Allow superusers to migrate projects from legacy interface through the API
  kobo/settings/base.py
  kpi/management/commands/sync_kobocat_xforms.py
  kpi/tasks.py
  kpi/views/v2/asset.py
  kpi/views/v2/user.py
Labels: API, backend, enhancement

#3046 Changed the `version` field in the XLSForm to the version number and date
  kpi/models/asset.py
Labels: backend

#3074 Update formpack requirement and fix tests
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  dependencies/pip/travis_ci.txt
  kpi/tests/test_mock_data_exports.py
Labels: backend, bug-fix

#3059 Remove dependency on stringified bools
  kpi/models/import_export_task.py
  kpi/serializers/v2/asset_export_settings.py
  kpi/serializers/v2/export_task.py
Labels: API, backend

#3084 Add support for `multiple_select`
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  dependencies/pip/travis_ci.txt
  kpi/models/import_export_task.py
  kpi/tests/test_mock_data_exports.py
Labels: backend, bug-fix

#3114 Partial permissions export fix
  jsapp/js/components/projectDownloads/projectExportsList.es6
  jsapp/js/constants.es6
  kpi/permissions.py
  kpi/tests/api/v2/test_api_exports.py
Labels: API, backend, bug-fix, high priority
