Repository kobotoolbox/kpi, pull requests merged in 2021-01, with the labels that each got.

#2948 Replacing `returnURL` with `return_url`
  jsapp/js/components/formLanding.es6
Labels: frontend

#2959 Fix to point the URL in the REST submission email to the correct screen in the UI
  kobo/apps/hook/tasks.py
  kobo/apps/hook/templates/reports/failures_email_body.html
  kobo/apps/hook/templates/reports/failures_email_body.txt
  kobo/apps/hook/tests/test_email.py
Labels: backend, enhancement

#2920 [UNHCR] Backend support for bulk updating of submissions feature
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/exceptions.py
  kpi/permissions.py
  kpi/tests/api/v2/test_api_submissions.py
  kpi/views/v2/data.py
Labels: API, backend, enhancement

#2945 Allow non-owners to remove themselves from a shared asset
  kpi/permissions.py
  kpi/tests/api/v2/test_api_permissions.py
  kpi/views/v2/asset_permission_assignment.py
Labels: API, backend, enhancement
