Repository kobotoolbox/kpi, pull requests merged in 2021-07, with the labels that each got.

#2993 Update submission `/edit` endpoint to `/enketo/<action>` and accept `view` or `edit`
  jsapp/js/components/submissions/submissionModal.es6
  jsapp/js/components/submissions/table.es6
  jsapp/js/constants.es6
  jsapp/js/dataInterface.es6
  jsapp/js/enketoHandler.es6
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/permissions.py
  kpi/tests/api/v2/test_api_submissions.py
  kpi/views/v2/data.py
Labels: API, backend, blocked, enhancement

#3294 Support anonymous exports
  kpi/serializers/v2/export_task.py
  kpi/tests/api/v2/test_api_exports.py
  kpi/utils/private_storage.py
  kpi/views/v2/export_task.py
Labels: API, backend, enhancement

#3325 Fix for filtered repeat group exports
  kpi/models/import_export_task.py
  kpi/tests/test_mock_data_exports.py
Labels: API, backend, bug-fix

#3268 [ Basic Case Management ] Use abc.ABC with Django Models
  kpi/interfaces/open_rosa.py
  kpi/interfaces/sync_backend_media.py
  kpi/models/asset.py
  kpi/models/asset_file.py
  kpi/serializers/v2/open_rosa.py
  kpi/utils/models.py
  kpi/views/v2/asset_snapshot.py
Labels: backend, enhancement

#3123 [ Row Level Access ] - Validate whether user is allow to perform write actions with partial submission permissions
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/exceptions.py
  kpi/models/asset.py
  kpi/permissions.py
  kpi/serializers/v2/data.py
  kpi/tests/api/v1/test_api_submissions.py
  kpi/tests/api/v2/test_api_submissions.py
  kpi/utils/iterators.py
  kpi/views/v2/data.py
Labels: backend, enhancement

#3367 Describe submissions API unit tests
  kpi/tests/api/v2/test_api_submissions.py
Labels: backend

#3358 Refactor Enketo endpoints for edit and view
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/tests/api/v2/test_api_submissions.py
  kpi/views/v2/data.py
Labels: API, backend

#3328 Don't allow illegal matrix column names
  jsapp/js/formbuild/containers/KoboMatrix.es6
Labels: bug-fix
