Repository kobotoolbox/kpi, pull requests merged in 2022-02, with the labels that each got.

#3645 Access attachments stored in KoBoCAT storage/database directly
  kobo/settings/base.py
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/deployment_backends/kc_access/storage.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/exceptions.py
  kpi/renderers.py
  kpi/tests/api/v2/test_api_attachments.py
  kpi/views/v2/attachment.py
  kpi/views/v2/data.py
Labels: API, backend

#3655 Use `subprocess` instead of `pydub` to convert audio files
  dependencies/pip/dev_requirements.txt
  dependencies/pip/external_services.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/renderers.py
  kpi/tests/utils/__init__.py
  kpi/tests/utils/mock.py
  kpi/views/v2/attachment.py
Labels: API, backend

#3657 Serve attachments with NGINX
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/deployment_backends/kc_access/storage.py
  kpi/exceptions.py
  kpi/mixins/mp3_converter.py
  kpi/renderers.py
  kpi/tests/utils/mock.py
  kpi/views/v2/attachment.py
Labels: blocked, backend

#3680 [ MFA ] Improve MFA admin list view
  jsapp/scss/stylesheets/partials/_registration.scss
  kobo/apps/mfa/admin.py
  kobo/apps/mfa/models.py
Labels: backend

#3689 Open edit/preview Enketo Express links with KPI as OpenRosa server
  jsapp/js/enketoHandler.es6
  kobo/apps/mfa/forms.py
  kobo/apps/reports/constants.py
  kobo/apps/reports/report_data.py
  kobo/settings/base.py
  kobo/settings/testing.py
  kpi/authentication.py
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/deployment_backends/mock_backend.py
  kpi/exceptions.py
  kpi/models/asset.py
  kpi/models/asset_snapshot.py
  kpi/models/asset_version.py
  kpi/models/import_export_task.py
  kpi/permissions.py
  kpi/tests/api/v1/test_api_assets.py
  kpi/tests/api/v2/test_api_submissions.py
  kpi/tests/kpi_test_case.py
  kpi/tests/test_assets.py
  kpi/tests/utils/mock.py
  kpi/urls/router_api_v2.py
  kpi/views/v2/asset_snapshot.py
  kpi/views/v2/data.py
Labels: blocked, backend
