Repository kobotoolbox/kpi, pull requests merged in 2023-08, with the labels that each got.

#4560 Support Django Constance settings with translatable strings
  hub/utils/i18n.py
  kobo/apps/accounts/forms.py
  kobo/apps/constance_backends/utils.py
  kobo/settings/base.py
  kobo/settings/testing.py
  kobo/static_lists.py
  kpi/fields/jsonschema_form_field.py
  kpi/migrations/0051_set_free_tier_thresholds_to_default.py
  kpi/serializers/current_user.py
  kpi/templates/admin/constance/change_list.html
  kpi/tests/api/test_api_environment.py
  kpi/utils/json.py
  kpi/views/environment.py
  static/admin/constance/css/kobo-constance.css
Labels: Back end

#4540 Add Custom Password Guidance text
  hub/utils/i18n.py
  kobo/settings/base.py
  kpi/fields/jsonschema_form_field.py
  kpi/tests/api/test_api_environment.py
  kpi/views/environment.py
Labels: Back end

#4565 Refactor Django app `hub`
  hub/__init__.py
  hub/admin/__init__.py
  hub/admin/extend_user.py
  hub/admin/extra_user_detail.py
  hub/models.py
  hub/models/__init__.py
  hub/models/configuration_file.py
  hub/models/extra_user_detail.py
  hub/models/per_user_setting.py
  hub/models/sitewide_message.py
  hub/signals.py
  kobo/settings/base.py
  kpi/signals.py
Labels: Back end

#4558 Save date of password change and flag it as valid
  hub/models.py
  kobo/apps/accounts/adapter.py
  kobo/apps/accounts/tests/test_current_user.py
  kobo/apps/accounts/tests/test_social_account.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/password_validation.py
  kpi/serializers/current_user.py
  kpi/signals.py
  kpi/tests/api/test_api_current_user.py
Labels: Back end

#4572 Hide zxcvbn based on environment endpoint config
  jsapp/js/account/security/password/updatePasswordForm.component.tsx
  jsapp/js/dataInterface.ts
  jsapp/js/envStore.ts
  jsapp/js/registrationPasswordApp.tsx
  kobo/settings/base.py
  kpi/tests/api/test_api_environment.py
  kpi/views/environment.py
Labels: API, Back end, Front end

#4563 Add password guidance text to django templates
  kobo/apps/accounts/templates/account/password_reset_from_key.html
  kobo/apps/accounts/templates/account/signup.html
  kobo/apps/accounts/tests/test_email.py
  kobo/apps/accounts/tests/test_template_content.py
  kobo/settings/base.py
  kpi/context_processors.py
Labels: Back end

#4576 Improve messages returned to users
  kobo/settings/base.py
  kpi/password_validation.py
  kpi/tests/test_passwords.py
Labels: Back end

#4574 Display password guidance text in Update Password Form
  jsapp/js/account/security/password/updatePasswordForm.component.tsx
  jsapp/js/account/security/password/updatePasswordForm.module.scss
  jsapp/js/dataInterface.ts
  jsapp/js/envStore.ts
Labels: Front end

#4575 Support alias `t()` for `gettext` and `gettext_lazy`
  kpi/management/commands/makemessages.py
Labels: Back end

#4483 Use only one markdown dependency for markdown fields in Django Admin
  dependencies/pip/dev_requirements.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  hub/admin.py
  hub/migrations/0001_initial.py
  hub/migrations/0012_replace_markup_with_markdownx.py
  hub/models.py
  hub/tests/test_i18n.py
  kobo/apps/help/admin.py
  kobo/apps/help/migrations/0003_delete_inappmessagefile_model.py
  kobo/apps/help/models.py
  kobo/apps/help/urls.py
  kobo/apps/help/views.py
  kobo/apps/markdownx_uploader/__init__.py
  kobo/apps/markdownx_uploader/admin.py
  kobo/apps/markdownx_uploader/forms.py
  kobo/apps/markdownx_uploader/migrations/0001_initial.py
  kobo/apps/markdownx_uploader/migrations/0002_markdownxuploaderfilereference.py
  kobo/apps/markdownx_uploader/migrations/__init__.py
  kobo/apps/markdownx_uploader/models.py
  kobo/apps/markdownx_uploader/tasks.py
  kobo/apps/markdownx_uploader/urls.py
  kobo/apps/markdownx_uploader/views.py
  kobo/settings/base.py
  kobo/urls.py
  kpi/context_processors.py
  kpi/urls/__init__.py
  kpi/utils/absolute_paths.py
  kpi/utils/markdown.py
  kpi/utils/urls.py
Labels: enhancement, Back end

#4484 Handle Enketo Express footer disclaimer from Django Admin
  kobo/apps/form_disclaimer/__init__.py
  kobo/apps/form_disclaimer/admin.py
  kobo/apps/form_disclaimer/forms.py
  kobo/apps/form_disclaimer/migrations/0001_initial.py
  kobo/apps/form_disclaimer/migrations/__init__.py
  kobo/apps/form_disclaimer/models.py
  kobo/apps/form_disclaimer/signals.py
  kobo/apps/subsequences/actions/translation.py
  kobo/settings/base.py
  kpi/admin.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/mixins/xls_exportable.py
  kpi/models/asset_snapshot.py
  kpi/renderers.py
  kpi/utils/xml.py
  kpi/views/v2/asset_snapshot.py
Labels: enhancement, Back end

#4587 Manage Enketo disclaimers from Django Admin
  dependencies/pip/dev_requirements.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  hub/admin.py
  hub/migrations/0001_initial.py
  hub/migrations/0012_replace_markup_with_markdownx.py
  hub/models.py
  hub/tests/test_i18n.py
  kobo/apps/form_disclaimer/__init__.py
  kobo/apps/form_disclaimer/admin.py
  kobo/apps/form_disclaimer/forms.py
  kobo/apps/form_disclaimer/migrations/0001_initial.py
  kobo/apps/form_disclaimer/migrations/__init__.py
  kobo/apps/form_disclaimer/models.py
  kobo/apps/form_disclaimer/signals.py
  kobo/apps/help/admin.py
  kobo/apps/help/migrations/0003_delete_inappmessagefile_model.py
  kobo/apps/help/models.py
  kobo/apps/help/urls.py
  kobo/apps/help/views.py
  kobo/apps/markdownx_uploader/__init__.py
  kobo/apps/markdownx_uploader/admin.py
  kobo/apps/markdownx_uploader/forms.py
  kobo/apps/markdownx_uploader/migrations/0001_initial.py
  kobo/apps/markdownx_uploader/migrations/0002_markdownxuploaderfilereference.py
  kobo/apps/markdownx_uploader/migrations/__init__.py
  kobo/apps/markdownx_uploader/models.py
  kobo/apps/markdownx_uploader/tasks.py
  kobo/apps/markdownx_uploader/urls.py
  kobo/apps/markdownx_uploader/views.py
  kobo/apps/subsequences/actions/translation.py
  kobo/settings/base.py
  kobo/urls.py
  kpi/admin.py
  kpi/context_processors.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/mixins/xls_exportable.py
  kpi/models/asset_snapshot.py
  kpi/renderers.py
  kpi/urls/__init__.py
  kpi/utils/absolute_paths.py
  kpi/utils/markdown.py
  kpi/utils/urls.py
  kpi/utils/xml.py
  kpi/views/v2/asset_snapshot.py
Labels: enhancement, Back end

#4545 Plans page redirect, display fixes
  jsapp/js/account/plan.component.tsx
Labels: Front end

#4590 Code refactoring to get translated utilities at the same place
  hub/migrations/0013_alter_constance_config.py
  hub/tests/__init__.py
  hub/tests/test_i18n.py
  hub/utils/i18n.py
  kobo/apps/accounts/forms.py
  kobo/apps/accounts/tests/test_forms.py
  kobo/apps/constance_backends/utils.py
  kobo/settings/base.py
  kobo/static_lists.py
  kpi/context_processors.py
  kpi/fields/jsonschema_form_field.py
  kpi/views/environment.py
Labels: Back end

#4591 Frontend: Support customized metadata for user profiles and project details
  jsapp/js/account/accountSettingsRoute.tsx
  jsapp/js/components/common/modal.scss
  jsapp/js/components/formSummaryProjectInfo.tsx
  jsapp/js/components/modalForms/projectSettings.es6
  jsapp/js/editorMixins/editableForm.es6
  jsapp/js/envStore.ts
  jsapp/scss/components/_kobo.bem.ui.scss
  jsapp/scss/stylesheets/partials/_registration.scss
Labels: Front end
