Repository kobotoolbox/kpi, pull requests merged in 2024-06, with the labels that each got.

#4978 Fix "mismatched labels and translations" export failure
  dependencies/pip/dev_requirements.txt
  dependencies/pip/requirements.in
  dependencies/pip/requirements.txt
  kobo/apps/reports/report_data.py
  kpi/models/asset_version.py
  kpi/serializers/v2/asset.py
  kpi/utils/bugfix.py
  kpi/views/v2/asset.py
Labels: CRITICAL

#4979 Fix "There was an error loading Enketo" when attempting to edit submissions
  kpi/models/asset_snapshot.py
Labels: high priority

#4981 Drop CSV import support from API v1
  README.md
  kobo/apps/openrosa/README.md
  kobo/apps/openrosa/REMOVALS.md
  kobo/apps/openrosa/apps/api/tests/viewsets/test_xform_viewset.py
  kobo/apps/openrosa/apps/api/viewsets/xform_viewset.py
  kobo/apps/openrosa/libs/tests/utils/__init__.py
  kobo/apps/openrosa/libs/tests/utils/test_csv_import.py
  kobo/apps/openrosa/libs/utils/csv_import.py
Labels: API, Back end

#4960 Fix race conditions while running migrations for fresh installs
  README.md
  hub/admin/password_validation.py
  jsapp/js/components/formGallery/formGallery.component.tsx
  kobo/apps/kobo_auth/models.py
  kobo/apps/openrosa/README.md
  kobo/apps/openrosa/REMOVALS.md
  kobo/apps/openrosa/apps/api/tests/viewsets/test_xform_viewset.py
  kobo/apps/openrosa/apps/api/viewsets/xform_viewset.py
  kobo/apps/openrosa/apps/logger/management/commands/create_image_thumbnails.py
  kobo/apps/openrosa/apps/logger/management/commands/delete_revisions.py
  kobo/apps/openrosa/apps/logger/management/commands/populate_submission_counters.py
  kobo/apps/openrosa/apps/logger/migrations/0015_add_delete_data_permission.py
  kobo/apps/openrosa/apps/logger/models/attachment.py
  kobo/apps/openrosa/apps/logger/signals.py
  kobo/apps/openrosa/apps/logger/tests/models/test_attachment.py
  kobo/apps/openrosa/apps/main/migrations/0011_drop_old_kpi_tables.py
  kobo/apps/openrosa/apps/main/signals.py
  kobo/apps/openrosa/apps/viewer/models/data_dictionary.py
  kobo/apps/openrosa/libs/data/query.py
  kobo/apps/openrosa/libs/permissions.py
  kobo/apps/openrosa/libs/tests/utils/__init__.py
  kobo/apps/openrosa/libs/tests/utils/test_csv_import.py
  kobo/apps/openrosa/libs/utils/csv_import.py
  kobo/apps/openrosa/libs/utils/image_tools.py
  kobo/apps/openrosa/libs/utils/viewer_tools.py
  kobo/apps/subsequences/tests/test_submission_extras_api_post.py
  kobo/settings/base.py
  kobo/settings/guardian.py
  kpi/constants.py
  kpi/db_routers.py
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/management/commands/create_kobo_superuser.py
  kpi/migrations/0055_set_require_auth_per_project.py
  kpi/signals.py
  kpi/tests/api/v2/test_api_attachments.py
  kpi/tests/utils/mock.py
  kpi/views/v2/attachment.py
  scripts/create_anonymous_user.py
  scripts/migrate.sh
Labels: bug-fix, Back end

#4948 Remove `runsv` and KoboCAT uWSGI env variables
  Dockerfile
  README.md
  docker/entrypoint.sh
  docker/entrypoint_celery_beat.bash
  docker/entrypoint_celery_kobocat_worker.bash
  docker/entrypoint_celery_kpi_low_priority_worker.bash
  docker/entrypoint_celery_kpi_worker.bash
  docker/run_tests.bash
  docker/run_uwsgi.bash
  docker/setup_pydev.bash
  docker/uwsgi.ini
  hub/admin/password_validation.py
  jsapp/js/components/formGallery/formGallery.component.tsx
  kobo/apps/kobo_auth/models.py
  kobo/apps/openrosa/README.md
  kobo/apps/openrosa/REMOVALS.md
  kobo/apps/openrosa/apps/api/tests/viewsets/test_xform_viewset.py
  kobo/apps/openrosa/apps/api/viewsets/xform_viewset.py
  kobo/apps/openrosa/apps/logger/management/commands/create_image_thumbnails.py
  kobo/apps/openrosa/apps/logger/management/commands/delete_revisions.py
  kobo/apps/openrosa/apps/logger/management/commands/populate_submission_counters.py
  kobo/apps/openrosa/apps/logger/migrations/0015_add_delete_data_permission.py
  kobo/apps/openrosa/apps/logger/models/attachment.py
  kobo/apps/openrosa/apps/logger/signals.py
  kobo/apps/openrosa/apps/logger/tests/models/test_attachment.py
  kobo/apps/openrosa/apps/main/migrations/0011_drop_old_kpi_tables.py
  kobo/apps/openrosa/apps/main/migrations/0014_drop_old_formdisclaimer_tables.py
  kobo/apps/openrosa/apps/main/signals.py
  kobo/apps/openrosa/apps/viewer/models/data_dictionary.py
  kobo/apps/openrosa/libs/data/query.py
  kobo/apps/openrosa/libs/permissions.py
  kobo/apps/openrosa/libs/tests/utils/__init__.py
  kobo/apps/openrosa/libs/tests/utils/test_csv_import.py
  kobo/apps/openrosa/libs/utils/csv_import.py
  kobo/apps/openrosa/libs/utils/image_tools.py
  kobo/apps/openrosa/libs/utils/viewer_tools.py
  kobo/apps/subsequences/tests/test_submission_extras_api_post.py
  kobo/settings/base.py
  kobo/settings/guardian.py
  kpi/constants.py
  kpi/db_routers.py
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/kc_access/shadow_models.py
  kpi/deployment_backends/kobocat_backend.py
  kpi/management/commands/create_kobo_superuser.py
  kpi/migrations/0055_set_require_auth_per_project.py
  kpi/signals.py
  kpi/tasks.py
  kpi/tests/api/v2/test_api_attachments.py
  kpi/tests/utils/mock.py
  kpi/utils/monkey_patching.py
  kpi/views/v2/asset_snapshot.py
  kpi/views/v2/attachment.py
  kpi/views/v2/data.py
  scripts/create_anonymous_user.py
  scripts/fix_migrations_for_kobocat_django_app.py
  scripts/migrate.sh
Labels: Back end
