Repository kobotoolbox/kpi, pull requests merged in 2025-07, with the labels that each got.

#5874 docs(api): fix schema errors DEV-643
  kpi/paginators.py
  kpi/schema_extensions/v2/asset_snapshots/extensions.py
  kpi/schema_extensions/v2/assets/extensions.py
  kpi/schema_extensions/v2/assets/fields.py
  kpi/schema_extensions/v2/assets/schema.py
  kpi/schema_extensions/v2/assets/serializers.py
  kpi/schema_extensions/v2/openrosa/schema.py
  kpi/utils/schema_extensions/response.py
  kpi/views/v2/asset.py
Labels: API, Back end, documentation

#5883 fix(submissions): prevent 400 error when editing submissions that were already edited before DEV-645
  kobo/apps/openrosa/apps/logger/migrations/0044_alter_attachment_media_file_and_more.py
  kobo/apps/openrosa/apps/logger/models/instance.py
  kpi/deployment_backends/openrosa_backend.py
  kpi/tests/api/v1/test_api_submissions.py
  kpi/tests/api/v2/test_api_submissions.py
Labels: Back end

#5879 fix(frontend): printing styles DEV-375
  jsapp/js/attachments/AttachmentActionsDropdown.module.scss
  jsapp/js/components/activity/FormActivity.module.scss
  jsapp/js/components/submissions/RepeatGroupCell.module.scss
  jsapp/js/components/submissions/RepeatGroupCell.tsx
  jsapp/js/components/submissions/submissionDataTable.scss
  jsapp/js/components/submissions/submissionDataTable.tsx
  jsapp/js/components/submissions/submissionModal.scss
  jsapp/js/components/submissions/table.scss
  jsapp/scss/libs/_print.scss
  jsapp/scss/mixins.scss
Labels: Front end

#5890 ci: extract a reusable zulip workflow DEV-662
  .github/workflows/ci-daily.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-release.yml
  .github/workflows/zulip.yml
Labels: workflow

#5884 feat(trashBin): add object owner filters to `ProjectTrash` and `AttachmentTrash` admin views DEV-241
  kobo/apps/trash_bin/admin.py
Labels: Back end

#5860 feat(billing): ensure accurate usage limit reporting DEV-444
  dependencies/pip/dev_requirements.in
  dependencies/pip/dev_requirements.txt
  kobo/apps/openrosa/apps/api/tests/viewsets/test_xform_submission_api.py
  kobo/apps/openrosa/apps/logger/tests/test_simple_submission.py
  kobo/apps/openrosa/libs/utils/logger_tools.py
  kobo/apps/stripe/tests/test_stripe_utils.py
  kobo/apps/stripe/utils/import_management.py
  kobo/apps/stripe/utils/limit_enforcement.py
  kobo/apps/trackers/tests/test_trackers.py
  kobo/apps/trackers/utils.py
Labels: Back end

#5898 ci(releases): use ISO week number DEV-299
  .github/workflows/release-1-branch.yml
Labels: workflow

#5873 feat(billing): Replace useUsage with useServiceUsageQuery DEV-493
  jsapp/js/account/billingContextProvider.component.tsx
  jsapp/js/account/usage/assetUsage.api.ts
  jsapp/js/account/usage/usage.component.tsx
  jsapp/js/account/usage/usageProjectBreakdown.tsx
  jsapp/js/account/usage/useServiceUsageQuery.ts
  jsapp/js/account/usage/useUsage.hook.ts
  jsapp/js/api.endpoints.ts
  jsapp/js/components/processing/transcript/stepConfig.component.tsx
  jsapp/js/components/processing/translations/stepConfig.component.tsx
  jsapp/js/components/usageLimits/useExceedingLimits.hook.ts
  jsapp/js/query/queryKeys.ts
  jsapp/js/stores/useSession.tsx
Labels: Front end

#5835 perf(attachments): Improve bulk update attachments storage counters DEV-351
  kobo/apps/openrosa/apps/logger/utils/attachment.py
  kobo/apps/trash_bin/models/attachment.py
  kobo/apps/trash_bin/models/project.py
  kobo/apps/trash_bin/tests/test_utils.py
Labels: Back end

#5903 fix(table): Improve the table error message DEV-692
  jsapp/js/components/submissions/table.tsx
Labels: Front end

#5904 fix(dataTable): prevent 500 error when opening data table view DEV-695
  kpi/models/asset.py
  kpi/tests/test_asset_content.py
Labels: Back end

#5901 fix(submission): prevent "Failed to duplicate submission" when duplicating a previously edited submission DEV-677
  kobo/apps/openrosa/libs/utils/logger_tools.py
  kpi/deployment_backends/openrosa_backend.py
  kpi/tests/api/v2/test_api_submissions.py
  kpi/tests/utils/mixins.py
Labels: Back end

#5888 fix(submission): Add management command to reassign `root_uuid` to prevent 409 conflict when re-editing an already edited submission
  kobo/apps/openrosa/apps/logger/management/commands/clean_duplicated_submissions_root_uuid.py
Labels: Back end

#5905 fix(submissions): inject rootUuid in bulk edit operations
  kpi/deployment_backends/base_backend.py
  kpi/deployment_backends/openrosa_backend.py
  kpi/tests/api/v2/test_api_submissions.py
Labels: Back end

#5889 docs(api): adding API endpoints for deployment in KPI documentation DEV-550
  kpi/docs/api/v2/deployments/create.md
  kpi/docs/api/v2/deployments/list.md
  kpi/docs/api/v2/deployments/update.md
  kpi/schema_extensions/v2/deployments/__init__.py
  kpi/schema_extensions/v2/deployments/serializers.py
  kpi/views/v2/asset.py
Labels: Back end, documentation

#5809 docs(api): adding API endpoints for asset-attachments in KPI documentation DEV-528
  kpi/docs/api/v2/asset_attachments/bulk.md
  kpi/docs/api/v2/asset_attachments/delete.md
  kpi/docs/api/v2/asset_attachments/list.md
  kpi/docs/api/v2/asset_attachments/retrieve.md
  kpi/docs/api/v2/asset_attachments/suffix.md
  kpi/schema_extensions/imports.py
  kpi/schema_extensions/v2/asset_attachments/__init__.py
  kpi/schema_extensions/v2/asset_attachments/extensions.py
  kpi/schema_extensions/v2/asset_attachments/fields.py
  kpi/schema_extensions/v2/asset_attachments/serializers.py
  kpi/views/v2/attachment.py
  kpi/views/v2/attachment_delete.py
Labels: API, Back end, documentation

#5922 feat(user): include uid in /me endpoint DEV-234
  kpi/serializers/current_user.py
  kpi/tests/api/test_api_current_user.py
  kpi/views/current_user.py
Labels: API, Back end

#5928 feat(permissions): remove openrosa permissions backend DEV-228
  kobo/apps/openrosa/libs/backends.py
  kobo/settings/base.py
Labels: Back end

#5894 ci: update job filters
  .github/filters.yml
  .github/workflows/chromatic.yml
  .github/workflows/ci-pr.yml
  .github/workflows/release-2-stabilize.yml
Labels: workflow

#5932 docs(api): Refactor schema fields DEV-748
  kpi/schema_extensions/v2/assets/extensions.py
  kpi/schema_extensions/v2/assets/schema.py
  kpi/schema_extensions/v2/files/extensions.py
  kpi/schema_extensions/v2/files/schema.py
  kpi/views/v2/asset.py
  kpi/views/v2/asset_file.py
Labels: API, Back end, documentation

#5917 docs(api): adding API endpoints for organizations in KPI documentation DEV-540
  kobo/apps/organizations/serializers.py
  kobo/apps/organizations/views.py
  kpi/docs/api/v2/organizations/org_asset_usage.md
  kpi/docs/api/v2/organizations/org_assets.md
  kpi/docs/api/v2/organizations/org_list.md
  kpi/docs/api/v2/organizations/org_retrieve.md
  kpi/docs/api/v2/organizations/org_service_usage.md
  kpi/docs/api/v2/organizations/org_update.md
  kpi/schema_extensions/imports.py
  kpi/schema_extensions/v2/organizations/__init__.py
  kpi/schema_extensions/v2/organizations/extensions.py
  kpi/schema_extensions/v2/organizations/fields.py
  kpi/schema_extensions/v2/organizations/schema.py
  kpi/schema_extensions/v2/organizations/serializers.py
Labels: API, Back end, documentation

#5929 ci(dependabot): run nighly with automerge DEV-646
  .github/dependabot.yml
  .github/workflows/chromatic.yml
  .github/workflows/dependabot-automerge.yml
Labels: workflow, dependencies

#5960 ci(dependabot): disable automerging PRs DEV-646
  .github/dependabot.yml
  .github/workflows/dependabot-automerge.yml
Labels: workflow

#5931 feat(usageLimits): handle project ownership transfer limits DEV-441
  jsapp/js/components/permissions/transferProjects/transferProjects.component.tsx
  jsapp/js/components/permissions/transferProjects/transferProjects.module.scss
Labels: Front end

#5926 docs(api): adding API endpoints for service-usage in KPI documentation DEV-547
  kpi/docs/api/v2/service_usage/list.md
  kpi/schema_extensions/imports.py
  kpi/schema_extensions/v2/service_usage/__init__.py
  kpi/schema_extensions/v2/service_usage/extensions.py
  kpi/schema_extensions/v2/service_usage/fields.py
  kpi/schema_extensions/v2/service_usage/schema.py
  kpi/schema_extensions/v2/service_usage/serializers.py
  kpi/views/v2/service_usage.py
Labels: API, Back end, documentation

#5973 ci(releases): use Github App for cascading merges DEV-561
  .github/workflows/release-2-stabilize.yml
Labels: workflow

#5990 chore(siteWideMessage): remove unused REST endpoint DEV-801
  DEPRECATION.md
  README.md
  REMOVALS.md
  kobo/apps/openrosa/README.md
  kpi/serializers/__init__.py
  kpi/serializers/v1/sitewide_message.py
  kpi/urls/router_api_v1.py
  kpi/urls/router_api_v2.py
  kpi/views/v1/__init__.py
  kpi/views/v1/sitewide_message.py
Labels: API, Back end

#5945 docs(api): adding API endpoints for members in KPI documentation DEV-542
  kobo/apps/organizations/docs/api/v2/members/delete.md
  kobo/apps/organizations/docs/api/v2/members/list.md
  kobo/apps/organizations/docs/api/v2/members/retrieve.md
  kobo/apps/organizations/docs/api/v2/members/update.md
  kobo/apps/organizations/serializers.py
  kobo/apps/organizations/views.py
  kpi/schema_extensions/imports.py
  kpi/schema_extensions/v2/members/__init__.py
  kpi/schema_extensions/v2/members/extensions.py
  kpi/schema_extensions/v2/members/fields.py
  kpi/schema_extensions/v2/members/serializers.py
Labels: API, Back end, documentation

#5927 docs(api): adding API endpoints for users in KPI documentation DEV-549
  kobo/apps/accounts/serializers.py
  kpi/docs/api/v2/users/list.md
  kpi/docs/api/v2/users/migrate.md
  kpi/docs/api/v2/users/retrieve.md
  kpi/fields/writable_json.py
  kpi/schema_extensions/imports.py
  kpi/schema_extensions/v2/users/extensions.py
  kpi/schema_extensions/v2/users/fields.py
  kpi/schema_extensions/v2/users/serializers.py
  kpi/serializers/current_user.py
  kpi/serializers/v2/user.py
  kpi/views/v2/user.py
Labels: API, Back end, documentation

#5939 docs(api): adding API endpoints for me in KPI documentation DEV-758
  kpi/docs/api/v2/me/delete.md
  kpi/docs/api/v2/me/retrieve.md
  kpi/docs/api/v2/me/update.md
  kpi/schema_extensions/imports.py
  kpi/schema_extensions/v2/me/__init__.py
  kpi/schema_extensions/v2/me/extensions.py
  kpi/schema_extensions/v2/me/fields.py
  kpi/schema_extensions/v2/me/serializers.py
  kpi/serializers/current_user.py
  kpi/views/current_user.py
Labels: API, Back end, documentation

#5998 docs(api): adding API endpoints for transcription-services in KPI documentation DEV-548
  kobo/apps/languages/docs/api/v2/transcription/list.md
  kobo/apps/languages/docs/api/v2/transcription/retrieve.md
  kobo/apps/languages/views/transcription_service.py
Labels: API, Back end, documentation

#6007 ci(dependabot): drop dependabot prs limit DEV-646
  .github/dependabot.yml
Labels: workflow

#6010 ci(dependabot): auto merge successful minor and patch deps prs DEV-646
  .github/workflows/dependabot-automerge.yml
Labels: workflow

#6011 ci(dependabot): change dependabot PR limit for github-actions
  .github/dependabot.yml
Labels: workflow

#6032 fix(submissions): prevent the management command to crash when fixing rootUuid conflicts DEV-650 (backport of #5971)
  kobo/apps/openrosa/apps/logger/management/commands/clean_duplicated_submissions_root_uuid.py
Labels: Back end

#6033 docs(deprecation): fix release version for `v1` deprecation
  DEPRECATION.md
Labels: Back end, documentation

#5919 fix(formbuilder): Improve accuracy in language for validation & skip logic description
  jsapp/js/i18nMissingStrings.js
  jsapp/xlform/src/view.rowDetail.SkipLogic.coffee
Labels: Front end

#5991 feat(api): add `deployment__uuid` to asset list and detail views DEV-802
  kpi/serializers/v1/asset.py
  kpi/serializers/v2/asset.py
  kpi/tests/api/v2/test_api_assets.py
Labels: Back end

#5982 refactor(coffeeScript): fix DS0002 in mv.skipLogicHelpers.coffee DEV-790
  jsapp/xlform/src/mv.skipLogicHelpers.coffee
  jsapp/xlform/src/mv.validationLogicHelpers.coffee
Labels: Front end, refactor

#5983 refactor(coffeeScript): fix DS0002 in view.row.coffee DEV-791
  jsapp/xlform/src/view.row.coffee
Labels: Front end, refactor

#5987 refactor(coffeeScript): fix DS0002 in view.rowDetail.SkipLogic.coffee DEV-795
  jsapp/xlform/src/view.rowDetail.SkipLogic.coffee
Labels: Front end, refactor

#6000 feat(billing): disable/enable usage limit enforcement on frontend DEV-805
  jsapp/js/components/processing/transcript/stepConfig.component.tsx
  jsapp/js/components/processing/translations/stepConfig.component.tsx
  jsapp/js/endpoints/environment.mocks.ts
  jsapp/js/envStore.ts
  kobo/apps/openrosa/apps/api/tests/viewsets/test_xform_submission_api.py
  kobo/apps/openrosa/libs/utils/logger_tools.py
  kobo/apps/subsequences/api_view.py
  kobo/apps/subsequences/tests/test_submission_extras_api_post.py
  kobo/settings/base.py
  kpi/tests/api/test_api_environment.py
  kpi/views/environment.py
  pyproject.toml
Labels: Front end

#5978 docs(api): removing openRosa endpoints from schema DEV-782
  kobo/apps/openrosa/apps/api/viewsets/briefcase_api.py
  kobo/apps/openrosa/apps/api/viewsets/xform_list_api.py
  kobo/apps/openrosa/apps/api/viewsets/xform_submission_api.py
  kpi/views/v2/asset_snapshot.py
Labels: API, Back end, documentation
